    <!-- Page Title-->
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="mt-n1 mr-1"><i class="fas fa-home icon-small pt-1"></i></li> -->
              <li class="mt-n1 mr-1"><img class="mx-auto mt-1" style="width:16px; height:auto;" src="./icons/home-24px.svg" alt="Compare products"></li>
              <li class="breadcrumb-item">Shop</li>
              <li class="breadcrumb-item"><a href="index.html">Product</a>
              </li>
            </ol>
          </nav>
        </div>
