<div class="border px-4 py-1">
    <ul id="categories" class="list-unstyled mb-0">
        <li><span class="d-flex align-items-center nav-link-inline py-3 border-bottom cursor-pointer">
            <i class="text-primary mr-2 mt-1 fas fa-hdd"></i>
            <span>Category 1</span></span>
        </li>
        <li><span class="d-flex align-items-center nav-link-inline py-3 border-bottom cursor-pointer">
            <i class="text-primary mr-2 mt-1 fas fa-hdd"></i>
            <span>Category 2</span></span>
        </li>
        <li><span class="d-flex align-items-center nav-link-inline py-3 cursor-pointer">
            <i class="text-primary mr-2 mt-1 fas fa-hdd"></i>
            <span>Category 3</span></span>
        </li>
    </ul>
</div>
