<!-- Page Content-->
<!-- Hero slider + Promo list-->
<section class="container px-3">
  <div class="mt-4 pt-lg-2 mb-4 mb-md-5">
    <div class="row">

      <!-- Categories -->
      <div class="col-lg-4 d-none d-lg-block">
        <div data-include-html="html/partials/home-categories.html"></div>
      </div>

      <!-- Product List -->
      <div class="col-lg-8">
        <!-- <div data-include-html="html/partials/cart.html"></div> -->
        <div data-include-html="html/partials/home-products.html"></div>
      </div>

    </div>
  </div>
  <hr class="mt-4">
</section>