<!-- Navbar Multilevel-->
<!-- Second line-->
<header class="navbar navbar-expand-lg navbar-light bg-light px-0">
    <div class="container flex-sm-nowrap px-3">

        <!-- Navbar Brand-->
        <a class="navbar-brand mr-0 mr-sm-4" style="min-width: 100px;" href="index.html">
            <img width="100" src="images/logo/logo.png" alt="My Store" /></a>

        <!-- Navbar Buttons-->
        <div class="navbar-btns d-flex position-relative order-sm-3">

            <!-- Favorites Button -->
            <a class="navbar-btn bg-0 my-3" href="#" onclick="getFavorites(event)">
                <img class="mx-auto mb-1 fas fa-list-ol" style="width:27px; height:auto;"
                    src="./icons/favorite-24px.svg" alt="Favorites">Favorites
            </a>

            <!-- Shopping Cart Button -->
            <a class="navbar-btn bg-0 my-3" onclick="loadCart();">
                <span class="d-block position-relative">
                    <span id="cart-count" class="navbar-btn-badge bg-primary text-light">0</span>
                    <img class="mx-auto mb-1 fas fa-list-ol" style="width:27px; height:auto;"
                        src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart"><span
                        class="cart-total">$0.00</span>
                </span>
            </a>
        </div>

        <!-- search-box -->
        <div class="flex-grow-1 pb-3 pt-sm-3 my-1 px-sm-2 pr-lg-4 order-sm-2">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend cursor-pointer" onclick="search(event)"><span
                        class="input-group-text no-border-radius" id="search-icon"><i class=" fas fa-search"></i></span>
                </div>
                <input class="form-control no-border-radius" type="text" onkeyup="search(event)" id="product-search"
                    placeholder="Search products" aria-label="Search site" aria-describedby="search-icon">
            </div>
        </div>

        <!-- customers-drop-down -->
        <div class="flex-grow pb-3 pt-sm-3 my-1 pr-lg-4 order-sm-2">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text no-border-radius">
                        <img src="./icons/person-24px.svg">
                    </span>
                </div>
                <select class="form-control no-border-radius" id="person-select" onchange="onSelectedCustomer(event)">
                    <option value=1>someone@mystore.com</option>
                    <option value=2>someoneelse@mystore.com</option>
                </select>
            </div>
        </div>
    </div>
</header>